node_modules
out
.wrangler/
.shadow-cljs/
.nrepl-port

# Frontend code
resources/public/js/
resources/public/home/js/
resources/public/landing/
resources/public/survey/
js/
resources/public/css/index.css