{:deps {org.clojure/clojure {:mvn/version "1.12.2"}
        org.clojure/clojurescript {:mvn/version "1.12.42"}
        integrant/integrant {:mvn/version "1.0.0"}
        metosin/reitit {:mvn/version "0.8.0-alpha1"}
        com.github.seancorfield/honeysql {:mvn/version "2.6.1270"}
        net.sekao/odoyle-rules {:mvn/version "1.3.1"}

        ;; Bricks
        poly/worker     {:local/root "../../bases/worker"}
        poly/core       {:local/root "../../components/core"}
        poly/controller {:local/root "../../components/controller"}
        poly/user       {:local/root "../../components/user"}
        poly/survey     {:local/root "../../components/survey"}
        poly/plans      {:local/root "../../components/plans"}
        poly/payment    {:local/root "../../components/payment"}

        ;; Volleyball domain
        poly/league     {:local/root "../../components/league"}
        poly/team       {:local/root "../../components/team"}
        poly/player     {:local/root "../../components/player"}
        poly/match      {:local/root "../../components/match"}}
 :paths ["src" "resources"]
 :aliases {:dev {:extra-deps {thheller/shadow-cljs {:mvn/version "3.2.1"}
                              binaryage/devtools {:mvn/version "1.0.7"}}}}}
